body {
	background-color: ##faf2df;
	color: #643843;
  	font-family: "Patrick Hand SC", cursive;
  	font-weight: 200;
  	font-style: normal;
}

h1, h2 {
  font-family: "Lugrasimo", cursive;
  font-style: normal;
}

h1 {
	font-weight: 600;
	letter-spacing: 1,5px;
	font-size: 50px;
	text-transform: uppercase;
}

h2 {
	font font-weight: lighter;
	font-size: 35px;
}

a {
	text-decoration: none;
	color: #AC7D88;
	font-weight: bolder;
	font-size: 20px;
}

a:hover {
	color: #85586F;
	text-decoration: underline;
}

.container {
	width: 700px;
	margin: 40px auto;
	background:#FEF5FE;
}

.card-pink-white {
	background:white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 10px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color:#85586F ;
	color: white;
	padding: 10px 25px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color:#FEF5FE;
	color: deeppink;
}

.liste-inline {
	list-style:none;
	padding-left: 0px;
}
.liste-inline li {
	display: inline;
	padding: 10px;
}

.liste-inline i {
	font-size: 50px;
	color: #85586F;
}

.liste-inline i:hover {
	background-color:#FEF5FE;
	color: deeppink;
}

#bio {
	color: deeppink;
}

#intro p {
	margin-bottom: 40px;
}





